<<<<<<< Updated upstream
/* Google Font Import - Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
=======
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');

>>>>>>> Stashed changes
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
 
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #7528A1;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}



/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    border-radius: 100px;
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}



.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}



.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

/************************** product table styling *********************************/
.header {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #000;
    padding: 10px;
    
}
.myTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
  }

  td,
  th {
    padding: 10px 16px;
    text-align: center;
  }

  th {
    background-color: #fafafa;
    color: #000;
    font-weight: bold;
  }

  tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }

  /* Device list */
  caption {
    font-size: 30px;
    line-height: 36px;
    color: #007ab0;
}
caption { /* ADDED */
  caption-side: top;
}
.btn-primary{
width: 225px;
height: 61px;
background-color: #7A40F2; 
height: 61px;
font-weight: 200 bold;
font-size: 30px;
line-height: 24px;
/* identical to box height, or 80% */
letter-spacing: 0.694286px;
}

.input-search-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .input-search-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
#whiteDem{ 
    /* border-right:none; 
    border-left:none;  */
    background-color: #EDEEF4;
    /* border-radius: 6px; */
    cursor: auto;
}
#CreateBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    gap: 10px;
    
    position: absolute;
    width: 194px;
    height: 23px;
    left: 91px;
    top: 446px;
    color: #FFF; 
    background: #7A04F2;
    border-radius: 8px;
}
#CancelBtn {
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 20px;
gap: 10px;

position: absolute;
width: 194px;
height: 23px;
left: 422px;
top: 446px;

background: #7A04F2;
border-radius: 8px;
}
.btn-success {
    background-color : #7A04F2;
}
#confirmCreate-Modalwindow,#createModal-window{
    /* Frame 1039 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

width: 150px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#confirmCreate-Modalcontent,#createModal-content {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 40px;
    gap: 24px;
    
    position: absolute;
    width: 694px;
    height: 558px;
    left: 0px;
    top: 0px;
    /* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
/* Shadow / Small */

box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
border-radius: 8px;

/* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

/* Shadow / Small */

border-radius: 8px;
}
#CloseBtn {
    /* Frame 1041 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

position: absolute;
width: 24px;
height: 24px;
left: 630px;
top: 24px;

background: #7A04F2;
border-radius: 29px;
}
.col-form-label{
/* .Atom / Input / Label */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

width: 624px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.form-control{
    /* .Atom / Input Container Sizes */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 624px;
height: 36px;

/* Base / White */

background: #FFFFFF;
/*   Gray / 100

E3E8EE
*/
border: 1px solid #E3E8EE;
/* Light / Elevation / 200 */

box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.form-group{
    /* .Atom / Input Base */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 624px;
height: 56px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}