body {
    font-family: "Mulish";font-size: 22px;
  }
.sidenav {
  border-radius: 100px;
  height: 100%;
  width: 137px;
  height: 989px;
  position: absolute;
  z-index: 100;
  top: 18px;
  background-color: #6F5CEA;
  transition: var(--tran-05);
  overflow-x: hidden;
  padding: 20px;
}
.sidebar.close{
  width: 88px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #FFFFFF;
  left: 0;

}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bi-search {
  /* Seach */

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px;
gap: 10px;

position: absolute;
left: 31.39%;
right: 31.39%;
top: 6.37%;
bottom: 87.97%;

background: #2B2B72;
border-radius: 16px;
/* Icons */


width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.bi-house{
  /* Shape */

  position: absolute;
  left: 31.39%;
  right: 31.39%;
  top: 19.01%;
  bottom: 77.45%;
  
}
.bi-lamp {
/* Group 30 Copy 6 */


position: absolute;
left: 31.39%;
right: 31.39%;
top: 26.9%;
bottom: 67.95%;
}
.bi-box-arrow-right{
  /* Group 30 Copy 6 */


position: absolute;
left: 31.39%;
right: 31.39%;
top: 91.2%;
bottom: 3.64%;
}
.bi-shield-lock{
/* Group 30 Copy 8 */


position: absolute;
left: 31.39%;
right: 31.39%;
top: 36.1%;
bottom: 58.75%;


}

.bi-people{
  /* Component 6 */

position: absolute;
left: 31.39%;
right: 31.39%;
top: 54.5%;
bottom: 40.34%;

}
.bi-bar-chart{
  /* Group 30 Copy 10 */


position: absolute;
left: 31.39%;
right: 31.39%;
top: 63.7%;
bottom: 31.14%;
}
.bi-pin-map{
  /* Group 30 Copy 7 */


position: absolute;
left: 31.39%;
right: 31.39%;
top: 45.3%;
bottom: 49.54%;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}

